header {
	height: 30vh;
	background-image: url(images/girlonbike.jpeg);
	background-position: 55% 29%;
}

header .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header h1 {
	padding: 2% 1%;
	border: 2px solid grey;
	background-image: url(images/girlonbike.jpeg);
	background-position: 55% 30%;
	-webkit-background-clip: text;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
	margin-top: 30px;
	margin-bottom: 5px;
	font-family: 'News Cycle', sans-serif;
	@media (max-width: 595px) {
		padding: 5%;
	}
	a {
		color: transparent;
	}
}

.titleCutout {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

header p.tagline {
    background-image: url(images/girlonbike.jpeg);
    background-position: 55% 39%;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin: 0;
    -webkit-background-clip: text;
}
