ul.menu {
	margin: 0;
	padding: 0;
	width: 100%;
	background: $darkgrey;
	padding: 10px;
	display: flex;
	// justify-content: space-around;
	li {

		a {
			color: #333;
			color: white;
			text-transform: uppercase;

		}
	}
}

.headerNav {
	width: 100%;
	background: $darkgrey;
	display: flex;
}

.primary {
	width: 45%;
	ul {
		justify-content: space-around;
		li a {
			padding: 0 20px;
		}
	}
}

.social {
	width: 25%;
	ul {
		justify-content: space-around;
	}
}

.search {
	width: 30%;
	background: $darkgrey;
	align-self: center;
}

#menu-footer-menu {
	justify-content: center;
	a {
		padding: 0 10px;
	}
}

#s {
	background: $darkgrey;
	color: white;
}

input[type="submit"] {
	display: none;
}