ul.menu {
	margin: 0;
	padding: 0;
	width: 100%;
	background: $darkgrey;
	padding: 10px;
	display: flex;
	li {
		list-style: none;
		a {
			color: #333;
			color: white;
			text-transform: uppercase;

		}
	}
}

.headerNav {
	width: 100%;
	background: $darkgrey;
	display: flex;
	font-family: 'News Cycle', sans-serif;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	@media (max-width: 710px) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.primary {
	width: 60%;
	ul {
		justify-content: flex-end;
		@media (max-width: 710px) {
			justify-content: center;
		}
		li a {
			padding: 0 40px;
			}
		}
		@media (max-width: 710px) {
			width: 100%;
		}
	}


.social {
	width: 20%;
	padding-left: 7%;
	@media (max-width: 710px) {
		width: 50%;
		padding-left: 0;
		i {
			font-size: 1.5rem;
		}
	}
	ul {
		justify-content: space-around;
	}
}

.search {
	width: 10%;
	background: $darkgrey;
	align-self: center;
	@media (max-width: 710px) {
		width: 100%;
	}
}

#menu-footer-menu {
	justify-content: center;
	a {
		padding: 0 10px;
	}
}

#s {
	background: $darkgrey;
	color: white;
	border: none;
	text-align: center;
	&:focus {
		outline: 1px solid white;
	}
	@media (max-width: 710px) {
		display: block;
		margin: 0 auto;
	}
}

input[type="submit"] {
	display: none;
}