ul.menu {
	margin: 0;
	padding: 0;
	width: 100%;
	background: $darkgrey;
	padding: 10px;
	display: flex;
	// justify-content: space-between;
	li {
		// display: inline;
		a {
			color: #333;
			color: white;
			text-transform: uppercase;
		}
	}
}

.primary {
	width: 50%;
	float: left;
}

.social {
	width: 20%;
	float: left;
}

.search {
	float: left;
	width: 30%;
	background: $darkgrey;

}